.jobs-list {
  list-style-type: none;
  background-color: #272727;
  border-radius: 10px;
  width: 66vw;
  margin-bottom: 30px;
  padding: 25px;
}
.company-profile-container {
  display: flex;
}
.company-logo {
  height: 12vh;
}
.title-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.job-title {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 21px;
  font-weight: 600;
}
.rating-container {
  display: flex;
  margin-top: 20px;
}
.star {
  color: #fbbf24;
  font-size: 20px;
}
.job-rating {
  color: #f1f5f9;
  font-family: 'Roboto';
  margin-left: 8px;
  font-weight: 500;
  font-size: 18px;
}
.location-jobtype-package-container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.location-jobtype-container {
  display: flex;
}
.location-container {
  display: flex;
  margin-right: 25px;
}
.icons {
  color: #f8fafc;
  font-size: 25px;
  margin-right: 8px;
}
.loc-jobtype-text {
  color: #cbd5e1;
  align-self: center;
  font-size: 13px;
  font-family: 'Roboto';
}
.jobtype-container {
  display: flex;
  margin-right: 25px;
}
.job-package {
  color: #cbd5e1;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Roboto';
}
.job-horizontal-line {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border: #7e858e solid 1px;
}
.job-description-heading {
  color: #cbd5e1;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Roboto';
  margin-bottom: 15px;
}
.job-description {
  color: #cbd5e1;
  font-size: 14px;
  line-height: 2;
  font-family: 'Roboto';
}

@media screen and (max-width: 767px) {
  .jobs-list {
    width: 100%;
    padding: 25px 15px;
  }
  .company-logo {
    height: 8vh;
  }
  .job-title {
    font-size: 18px;
  }
  .rating-container {
    margin-top: 15px;
  }
  .star {
    font-size: 15px;
  }
  .job-rating {
    margin-left: 5px;
    font-size: 17px;
  }
  .location-jobtype-package-container {
    margin-top: 20px;
  }
  .location-container {
    margin-right: 13px;
  }
  .icons {
    font-size: 15px;
    margin-right: 6px;
    align-self: center;
  }
  .loc-jobtype-text {
    font-size: 11px;
  }
  .jobtype-container {
    margin-right: 13px;
  }
  .job-package {
    font-size: 18px;
  }
  .job-horizontal-line {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .job-description-heading {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .job-description {
    font-size: 11.5px;
    line-height: 1.5;
  }
}
