* {
  margin: 0px;
}
.home-bg-container {
  background-size: cover;
  height: 140vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  padding: 130px 70px;
}
.home-heading {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 71px;
  max-width: 700px;
  margin-bottom: 40px;
}
.home-description {
  font-family: 'Roboto';
  color: #cbd5e1;
  font-size: 23px;
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.find-jobs-btn {
  background-color: #4f46e5;
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  height: 9vh;
  width: 10vw;
  border-radius: 9px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .home-bg-container {
    background-size: cover;
    height: 90vh;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    padding: 45px 20px;
  }
  .home-heading {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .home-description {
    font-size: 15.5px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .find-jobs-btn {
    height: 5vh;
    width: 30vw;
    border-radius: 8px;
  }
}
