.nav-container {
  height: 15vh;
  padding: 20px 50px;
  background-color: #272727;
}
.nav-largedevice-container {
  display: flex;
  justify-content: space-between;
}
.nav-smalldevice-container {
  display: none;
}
.website-logo {
  height: 8vh;
  cursor: pointer;
}
.navigate-link-container {
  display: flex;
  align-self: center;
}
.navigation-link {
  list-style-type: none;
  color: #f1f5f9;
  margin-right: 30px;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 18px;
  cursor: pointer;
}
.logout-btn {
  background-color: #4f46e5;
  color: #f1f5f9;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto';
  height: 6vh;
  width: 9vw;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
}
.links {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .nav-container {
    height: 10vh;
    padding: 20px;
  }
  .nav-smalldevice-container {
    display: flex;
    justify-content: space-between;
  }
  .nav-largedevice-container {
    display: none;
  }
  .website-logo {
    height: 4.5vh;
  }
  .navigate-link-container {
    display: flex;
    justify-content: space-between;
    width: 52%;
  }
  .navigation-link {
    align-self: center;
  }
  .header-icons {
    color: #f1f5f9;
    font-size: 23px;
  }
  .logout-btn {
    background-color: transparent;
  }
}
